<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <title>Show Person</title>
    <link href="/css/list.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1>Show Person Information</h1>
      <div th:object="${person}">
        <div class="form-row">
          <label class="control-label">ID</label >
          <p class="form-control" th:text="*{id}"></p>
        </div>
        <div class="form-row">
          <label class="control-label">名前</label >
          <p class="form-control" th:text="*{name}"></p>
        </div>
        <div class="form-row">
          <label class="control-label">年齢</label >
          <p class="form-control" th:text="*{age}"></p>
        </div>
      </div>
        <a class="btn btn-outline-success btn-sm" th:href="@{/person/{id}/edit(id=*{id})}">編集</a>
      <div id ="righttext">
        <a class="btn btn-link" id ="linktext" href="/person/list">一覧画面へ</a>
      </div>
    </div>
  </body>
</html>